body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

h1 {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

#search {
    width: 80%;
    padding: 10px;
    margin: 20px auto;
}

#club-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.club-card {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 200px;
    cursor: pointer;
    height: auto;
}
.club-card img{
    width: 100%;
    height: 240px;
}

#club-details {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 80%;
    margin: 20px auto;
}

button {
    width: 100%;
    background-color: rgb(134, 134, 241);
    color: white;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    max-width: 220px;
}
